* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

body {
    max-width: 375px;
    background-color: hsl(218, 23%, 16%);
    font-family: 'Manrope', sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);  
}

.box {
    width: 370px;
    height: 370px;
    background-color: hsl(217, 19%, 24%);
    border-radius: 15px;

}

.adviceNo {
    color:hsl(150, 100%, 66%);
}

.adviceText {
    font-size: 28px;
    color: hsl(217, 19%, 38%);
}





.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
